# Ignore object files and libraries
*.o
*.a
*.so
*.dylib

# Ignore compiled binaries
*.out
*.exe
*.elf

# macOS system files
.DS_Store

# Ignore temporary files created by editors
*~
*.swp
*.swo
.*.sw?

# Ignore log files and debug files
*.log
*.tmp
*.bak
*.core
*.stackdump

# Ignore build artifacts
build/
dist/
.deps/
*.elf.map

# Ignore Xcode files
*.xcuserstate
UserInterfaceState.xcuserstate
